Source: libgnome2-canvas-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 3.0.16), perl (>= 5.8.0-7), libgtk-perl (>= 0.26), libextutils-depends-perl, libextutils-pkgconfig-perl, libgnomecanvas2-dev
Maintainer: James Curbo <hannibal@adtrw.org>
Standards-Version: 3.6.0

Package: libgnome2-canvas-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libgtk-perl
Description:  Perl interface to the Gnome Canvas libraries.
 This module allows Perl programmers to access the Gnome Canvas
 library.
